/* your code */
table{
	border: 1px solid lightgrey;
	width: 600px;
	height: 150px;
	border-radius: 10px;
	border-spacing: 0px;
	overflow: hidden;
}
.box1{
	background-color: darkblue;
	color: white;
}
.l{
	padding-left:20px;
}
.box1 .h1{
	text-align: left;
}
.box3{
	background-color: lightgray
}
.box5{
	background-color: lightgray
}